.community-img-circle{
     border-radius: 50%;
    border: solid 1px #1e1ec2;
    height: 70px;
}
.commnunity{
    text-align: center;
}

.medium{  height: 34px;}

 .community-user-image{
    height: 23px;
    width: 100%;
    
}

.community_flag p{
    text-align: left; 
    margin-top: 3px; 
        padding-left: 0px;
}

.community_flag_description{
 
    font-size: 11px;
}
.community_title_1,.community_flag {
 
}
.community_title_2{
margin-top:20px;
    
    font-size: 1.1em;
    margin-bottom: 15px;
}

.profile_name{
    text-align: center;
    margin-top: -15px;
}
.profile_button{
    
   margin: auto;
    width: 100%;
    box-shadow: 3px 3px 8px grey;
        margin-top: -10px

}
 
.comunity_image_container{
    float: left;
    margin-top:15px;
}


