 
<hr /> 
<div *ngIf="nativeOnlines">
          <div class="row">
            <div class="col-xs-7 community_flag">
                <p class="col-xs-12 community-user-image">
                    <img alt="community-user-image" border="1" class="medium " src="assets/flags-normal/{{ lang_id }}.png" />
                </p> 
                <p class="col-xs-12 community_flag_description">{{ lang_flag}}</p> 
            </div>
              
        <div class="col-md-11">  
              <div class="row"> 
            <div class="col-12"> 
                    <p class="community_title_1">Language Community</p> 
                    <h4 class="community_title_2">Live Native Users: (Currently Online)</h4>      
            </div>
            <div *ngFor="let nativeOnline of nativeOnlines.nativeOnline" class="col-xs-3 comunity_image_container">
                <p>
                    <img alt="community-user-image" class="community-img-circle" src="assets/img/user/{{ nativeOnline.profileimg}}">
                </p>
                <p class="profile_name">
                    {{ nativeOnline.name}}
                </p> 
                <button  type="button" class="btn btn-info profile_button" (click)="getUser(nativeOnline.id)" (click)="modalLg.show()">View</button>
            </div>
            </div>
            
     <!--   <app-community-offline></app-community-offline>
        <app-community-qualified></app-community-qualified> -->
        </div>
          
        
    </div>

     </div>     


           <!-- Large modal-->
<div bsModal class="modal fade" #modalLg="bs-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mt-0 modal-title">{{ user_profile.name }}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                
                
                <h5>Native Languages</h5>
                <div *ngFor="let settings of languages">
                    <p> {{ settings.description  }}</p>
                </div>
                <h5>About Me</h5>
                <P>{{ user_setting.about_me  }}</P>
                <h5>Qulifications</h5>
                 <P>{{ user_setting.qualification  }}</P>
                <h5>Where do I live</h5>
                <p></p>
                <p><br><img alt="community-user-image" border="1" class="medium " src="assets/flags-normal/{{ lang_id }}.png" /></p>
                <p></p>
            </div>
        </div>
     
</div>
    </div>
  
<div *ngIf="!nativeOnlines">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Not found</h4>
        </div>

    </div>
 

    
                    
 
 