 <hr />
               <div class="row"> 
                    <div class="col-12"> 
                   
                    <h4 class="community_title_2">Live Native Users: (Currently Offline)</h4>      
            </div>
         
            <div *ngFor="let nativeOffline of nativeOffline_off.nativeOffline" class="col-xs-3 comunity_image_container">
                <p>
                    <img alt="community-user-image" class="community-img-circle opac" src="assets/img/user/{{ nativeOffline.profileimg}}">
                </p>
                <p class="profile_name">
                    {{ nativeOffline.name}}
                </p> 
                <button  type="button"  [disabled]="!offline"  class="btn btn-info profile_button" (click)="getUser(nativeOffline.id)" (click)="modalLg.show()">View</button>
            </div>
            </div>

 