<div class="container">
    <div class="row">
	<div class="col-xs-12 col-sm- col-md- col-lg- navigation">
		        <ul class="nav nav-inline">
             <li class="nav-item">
                 <a routerLink="/home" routerLinkActive="active" class="nav-link btn  ">Home</a>
               
             </li>
                   
             <li class="nav-item">
                 <a class="nav-link btn " href="#">Appointments</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link btn " href="#">Account</a>
             </li>
                    <li class="nav-item">
                 <a routerLink="/signin" routerLinkActive="active" class="nav-link btn ">Logout</a>
               
             </li>
         </ul>

	</div>
</div>

            <router-outlet></router-outlet>

</div>

