<div class="page-container">
    <div class="d-flex align-items-center align-items-center-ie bg-gradient-primary text-white">
        <div class="fw">
            <div class="container container-xs">
                <form [formGroup]="regForm" (submit)="submitForm($event, regForm)" class="cardbox cardbox-flat text-white form-validate text-color" id="user-signup" action="" name="createForm" novalidate="">
                    <div class="cardbox-heading">
                        <div class="cardbox-title text-center">Create account</div>
                    </div>
                    <div class="cardbox-body pb-0">
                        <div class="px-5">
                            <div class="form-group">
                                <input formControlName="name" [formControl]="regForm.controls['name']" class="form-control form-control-inverse" type="text" name="accountName" required="" placeholder="Name">
                                <span class="text-danger" *ngIf="regForm.controls['name'].hasError('required') && (regForm.controls['name'].dirty || regForm.controls['name'].touched)">This field is required</span>
                            </div>
                            <div class="form-group">
                                <input formControlName="email" [formControl]="regForm.controls['email']" class="form-control form-control-inverse" type="email" name="accountEmail" required="" placeholder="Email">
                                <span class="text-danger" *ngIf="regForm.controls['email'].hasError('required') && (regForm.controls['email'].dirty || regForm.controls['email'].touched)">This field is required</span>
                                <span class="text-danger" *ngIf="regForm.controls['email'].hasError('email') && (regForm.controls['email'].dirty || regForm.controls['email'].touched)">Please enter a valid email</span>
                            </div>
                            <div class="form-group">
                                <input formControlName="password" [formControl]="regForm.controls['password']" class="form-control form-control-inverse" id="account-password" type="password" name="accountPassword" required="" placeholder="Password">
                                <span class="text-danger" *ngIf="regForm.controls['password'].hasError('required') && (regForm.controls['password'].dirty || regForm.controls['password'].touched)">Input required</span>
                            </div>
                            <div class="form-group">
                                <input formControlName="password_confirmation" [formControl]="regForm.controls['password_confirmation']" class="form-control form-control-inverse" type="password" name="accountPasswordCheck" required="" placeholder="Confirm password">
                                <span class="text-danger" *ngIf="regForm.controls['password_confirmation'].errors?.equalTo">Input does Not match</span>
                            </div>
                            <div class="cardbox-heading">
                        <div class="cardbox-title text-center">Reason For Joining the Club</div>
                    </div>
                              <div class="form-group">
                            <div [formArrayName]="'items'" [class.invalid]="!regForm.controls.selectedItems.valid">
    <div *ngFor="let control of regForm.controls.items.controls; let i = index;" [formGroup]="control" class="form-check form-check-inline">
      <input type="checkbox" formControlName="checkbox" id="{{ control.controls.id.value }}">
      <label attr.for="{{ control.controls.id.value }}"><span>{{ control.controls.text.value }}</span></label>
    </div>
  </div>
  <div *ngIf="!regForm.controls.selectedItems.valid" class="text-danger" [class.invalid]="!regForm.controls.selectedItems.valid" >
    checkbox group is required!
  </div>
                            </div>
  <hr>
                              <div class="form-check form-check-inline">
                             <label>        
                            <input formControlName="terms" [formControl]="regForm.controls['terms']" class="form-check-input" type="checkbox" name="accountTerms" required=""  >
                            
                        By registering I accept the 
                        <a>
                        <u class="text-white">Terms of Service</u></a><span> and </span>
                        <a>
                        <u class="text-white">Privacy</u></a>
                        </label>
                                  
                            </div>
                             <span class="text-danger" *ngIf="regForm.controls['terms'].hasError('required') && (regForm.controls['terms'].dirty || regForm.controls['terms'].touched)">This field is required</span>
                            
    <div class="py-4 text-center">
        <button [disabled]="!regForm.valid || regForm.pristine" class="btn btn-lg btn-gradient btn-oval btn-info btn-block" type="submit">Create</button>
    </div>
                        </div>
                       
</div>
                    
                </form>
                
            </div>
        </div>
    </div>
</div>
