<h1 align="center">HOMEPAGE</h1>
<app-recent-practices></app-recent-practices>
<hr />
 
 

    <div class="row">
        <app-search></app-search>
    </div>
 

<div class="row">
    <div *ngFor="let random_practice_suggestion of random_practice_suggestions" class="col-3 col-md-2" (click)="gotoCommunity(random_practice_suggestion.id)">
      <img alt="community-user-image" border="1" class="community-img-circle" src="assets/flags-mini/{{random_practice_suggestion.id }}.png"> 
              <p><span>{{ random_practice_suggestion.text }}</span></p>
    </div>
</div>
 
